<div class="todo-container">
  <h1>📋 Список задач</h1>

  <div class="form-row">
    <input [(ngModel)]="newTitle" placeholder="Новая задача" />
    <input type="date" [(ngModel)]="newDueDate" />
    <button (click)="addTodo()">Добавить</button>
  </div>

  <div class="filter-row">
    <label for="filter">Фильтр:</label>
    <select id="filter" [(ngModel)]="selectedStatus">
      <option value="all">Все</option>
      <option value="active">Активные</option>
      <option value="completed">Выполненные</option>
      <option value="archived">Архив</option>
    </select>
  </div>

  <ng-template #loading> загрузкa... </ng-template>
  <ul>
    <li *ngFor="let todo of (todos$ | async) || []" {{todo.title}}>
      <!-- @defer (when todos$ | async; let todos) {
  <ul>
    <li *ngFor="let todo of todos">
      {{ todo.title }}
    </li>
  </ul>
} @loading {
  <p>загрузка...</p>
} -->

      <div class="task-header">
        <input [(ngModel)]="todo.title" (blur)="editTitle(todo.id, todo.title)" />
        <button class="delete" (click)="deleteTodo(todo.id)">
          <span class="material-icons">Удалить</span>
        </button>
      </div>

      <div class="task-meta">
        <label [attr.for]="'status-' + todo.id">Статус:</label>
        <select
          [id]="'status-' + todo.id"
          [(ngModel)]="todo.status"
          (change)="updateStatus(todo.id, todo.status)"
        >
          <option value="active">Активна</option>
          <option value="completed">Выполнена</option>
          <option value="archived">Архив</option>
        </select>
      </div>

      <div class="task-meta">
        <label [attr.for]="'due-' + todo.id">Дедлайн:</label>
        <input
          [id]="'due-' + todo.id"
          type="date"
          [(ngModel)]="todo.dueDate"
          (change)="updateDueDate(todo.id, todo.dueDate || '')"
        />
      </div>

      <div class="meta">
        <span>🕒 Создана: {{ todo.createdAt || '—' }}</span>
        <span>📅 Дедлайн: {{ todo.dueDate || '—' }}</span>
      </div>
    </li>
  </ul>
</div>
